{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.setting_input_text_and_buttons('manga_id', 'Manga ID', [['download_btn', '다운로드']], desc='전체 다운로드', col='6') }}
  {{ macros.setting_input_text_and_buttons('wr_id', 'wr ID', [['download_btn', '다운로드']], desc='단일 다운로드', col='6') }}
</div> <!--전체-->

<script type="text/javascript">
var package_name = 'manamoa';

$("body").on('click', '#download_btn', function(e){
  e.preventDefault();
  manga_id = document.getElementById("manga_id").value
  wr_id = document.getElementById("wr_id").value
 
  $.ajax({
    url: '/' + package_name + '/ajax/download_by_request',
    type: "POST",
    cache: false,
    data: {manga_id:manga_id, wr_id:wr_id},
    dataType: "json",
    success: function (ret) {
      if (ret) {
        //window.open('/manamoa/queue');
        window.location.href = '/manamoa/queue'
        $.notify('<strong>큐에 추가하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>큐 추가 실패</strong>', {
          type: 'warning'
        });
      }
    }
  });
});
</script>
{% endblock %}