{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}

  <nav>  
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '일반', true) }}
      {{ macros.m_tab_head2('site', '사이트', false) }}
      {{ macros.m_tab_head2('auto', '자동', false) }}
      {{ macros.m_tab_head2('etc', '기타', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_input_text('dfolder', '다운로드 경로', value=arg['dfolder'], desc=['다운로드 경로입니다.', 'SJVA Root 경로가 포함되어 있어야 뷰어를 통해 볼 수 있습니다.']) }}
      {{ macros.setting_checkbox('use_title_folder', '제목별 폴더', value=arg['use_title_folder'], desc=['On : 제목별로 폴더를 생성하여 저장', 'Off : 다운로드 경로 루트에 저장']) }}
      {{ macros.setting_checkbox('zip', 'ZIP', value=arg['zip'], desc=['On : 압축', 'Off : 개별 파일']) }}
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('site', false) }}
      {{ macros.setting_input_text_and_buttons('sitecheck', 'Site URL', [['go_btn', 'GO']], value=arg['sitecheck'], desc=None) }}
      {{ macros.setting_checkbox('use_selenium', 'Selenium 사용', value=arg['use_selenium'], desc=['On : 사이트에 Cloudflare 방화벽이 적용 된 것 같으면 사용합니다.', '이 옵션은 HTML 페이지를 가져오는 방법에 관한 옵션으로 이미지 파일을 가져올때 Selenium을 사용하지 않습니다.']) }}

      

    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('auto', false) }}
      {{ macros.setting_global_scheduler_button(arg['scheduler'], arg['is_running']) }}
      {{ macros.setting_input_text('interval', '스케쥴링 실행 정보', value=arg['interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
      <!-- {{ macros.setting_input_int('pagecount', '탐색 페이지수', value=arg['pagecount'], min='1', placeholder='1')}} -->
      {{ macros.setting_checkbox('auto_start', '시작시 자동실행', value=arg['auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
      {{ macros.setting_input_textarea('downlist', '자동 다운로드 할 만화 이름', value=arg['downlist'], row='5', desc=['구분자 |', '빈칸인 경우 모두 다운로드합니다.']) }}
      {{ macros.setting_input_textarea('blacklist', '다운로드 제외 만화 이름', value=arg['blacklist'], row='3', desc=['구분자 |']) }}
      {{ macros.setting_checkbox('all_download', 'All Download', value=arg['all_download'], desc=['On : 새로운 에피소드를 받을 때 이전 화 전부를 다운합니다.', '이미 받은 경우 제외']) }}
    {{ macros.m_tab_content_end() }}
    
    {{ macros.m_tab_content_start('etc', false) }}
      {{ macros.setting_button([['global_one_execute_btn', '1회 실행']], left='1회 실행' ) }}
      {{ macros.setting_button([['global_reset_db_btn', '목록 초기화']], left='DB정리' ) }}
    {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
</form>
</div><!--전체-->

<script type="text/javascript">
var package_name = 'manamoa';
var current_data = null;

$(document).ready(function(){
});

$("body").on('click', '#go_btn', function(e){
  e.preventDefault();
  url = document.getElementById("sitecheck").value
  window.open(url, "_blank");
});
</script>    
{% endblock %}